# Registry for @mds scoped packages
@mds:registry=https://mckinsey.jfrog.io/artifactory/api/npm/mds-npm/

# Authentication for JFrog (needed to PUBLISH)
//mckinsey.jfrog.io/artifactory/api/npm/mds-npm/:_authToken=${JFROG_AUTH_TOKEN}
